<link rel="stylesheet" href="~/css/StyleSheet.css" />
<div class="mark">
    <marquee><p class="mark-item">What starts here, changes the world.&emsp; &emsp;&emsp;&emsp;&emsp;HEC recognized University&emsp; &emsp;&emsp;&emsp;&emsp;Last Date to Apply 15th October 2021</p></marquee>
</div>
<div class="block-menu">
    <ul>
        <li><a href="#">Aquire LMS</a></li>
        <li><a href="#">Downloads</a></li>
        <li><a href="#">USKT Magazine</a></li>
        <li><a href="#">Contact Us</a></li>
        <li><a href="#">TimeTable</a></li>
        <li><a href="#">Merit Lists</a></li>
    </ul>
</div>
<div class="head">
    <span class="logo">
        <a><img src="~/images/logo.png" width="213" height="58" /></a>
    </span>
    <span>
        <ul class="menu">
            <li><a href="#">AboutUSKT</a></li>
            <li style="background-color: #c70039; height: -20px;"><a href="#">Admissions</a></li>
            <li>
                <a href="#">Academics</a>
            </li>
            <li>
                <a href="#">Offices</a>
            </li>
            <li>
                <a href="#">Faculty&Research</a>
            </li>
            <li>
                <a href="#">StudyAtUSKT</a>
            </li>
        </ul>
    </span>
</div>
<div>
    <span><img src="~/images/1.jpg" style="height: 500px; width: 1300px;"></span>
</div>


<div>
    <p style="text-align:center; color: #808080;">See whats happening inside.</p>
    <h1 style="text-align:center; margin-top: -10px;">News and Events</h1>
</div>

<div style="display:flex ; margin-left: 100px;">
    <div><img src="~/images/news1.jpg" style="height: 200px ; width: 400px;"></div>
    <div style="margin-left: 100px;">
        <h2><a href="#" style="text-decoration:none; color:black; font-family: 'Raleway';">Admissions in PhD Computer Science </a></h2>
        <p style="font-family: 'Raleway';">Please be informed that the admission of Ph.D. in Computer Science <br>is open. Given the quality guideline, the seats are<br> limited. For more information please visit our website or <br>contact us at admissions@uskt.edu.pk. Admission Test will <br>be held on: February 28, 2021 (Sunday)</p>
    </div>
</div>

<div style="display:flex ; margin-left: 100px; margin-top: 50px;">
    <div style="display:flex ;">
        <div>
            <img src="~/images/news2.jpg" style="height: 125px ; width: 188px;">
        </div>
        <div style=" margin-left: 10px;">
            <h4><a href="#" style="text-decoration:none; color:black; font-family: 'Raleway'; ">A Mou signed with Azerbaijan Technical University <br>for mutual interest. </a></h4>
        </div>
    </div>
    <div style="display:flex ; margin-left: 20px;">
        <div>
            <img src="~/images/news3.jpg" style="height: 125px ; width: 188px;">
        </div>
        <div style=" margin-left: 10px;">
            <h4><a href="#" style="text-decoration:none; color:black; font-family: 'Raleway';">University of Sialkot Donation to (SAF)<br> Road To Education </a></h4>
        </div>
    </div>
</div>

<div style="background-color: #333; padding-top: 50px; padding-bottom: 50px; margin-top: 100px;">
    <h1 style="text-align:center; margin-top: -10px; color: #fff;">Mission of USKT:</h1>
    <p style="text-align:center; color: #fff;">
        Providing quality education at affordable cost with special emphasis on intellectual development and character building.<br>
        Providing an academic environment to groom students’ natural abilities leading to professional success.<br>
        Providing a conducive environment to foster critical thinking and complex problem solving abilities for promoting research and entrepreneurship culture in collaboration with industry.
    </p>
</div>
<div style="display: flex; background-image: url('back.jpg'); padding-top: 50px; padding-bottom: 50px;">
    <div style="display: flex; margin-left: 100px; background-color: #fff; border-radius: 10px; padding-right: 5px;">
        <div style="margin-left: 10px; padding-top:5px; "><img src="~/images/team.jpg" style="width:170px; height:200px"></div>
        <div style="display: block;">
            <div style="margin-left: 20px;"><h3>Prof. Dr. Syed Saeed Ul Hasan Chishti</h3></div>
            <div>
                <ul>
                    <li>Prof. Dr. Syed Saeed Ul Hasan Chishti </li>
                    <li>
                        Ph.D  in Education from Arid Agriculture University<br>
                        Rawalpindi,
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div style="display:inline ; margin-left: 200px;">
        <h1 style="font-family:Cooper; color:#fff; size:55px;">Our Team</h1>
        <p style="font-family:'Segoe Script'; color:#fff; size: 50px; margin-left: -50px;"> "What starts here, changes the world."</p>
    </div>
</div>

<div style="display:flex;  padding-top: 40px; padding-bottom: 40px; background-color: #2e2e2e;">
    <div style="margin-left: 100px;">
        <img src="~/images/logo2.png" style="height:90px; width:90px;">
    </div>
    <div style="margin-left: 150px">
        <h5 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Address</h5>
        <p style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">1-Km Main<br> Daska Road, Sialkot</p>
    </div>
    <div style="margin-left: 150px">
        <h5 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Contacts</h5>
        <p style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;"> Email: info@uskt.edu.pk<br> Phone: +92-523575518-20</p>
    </div>
    <div style="margin-left: 150px">
        <h5 style="font-family: 'Open Sans', sans-serif; size: 14px; color: #fff;">Links</h5>
        <a href="#" style="text-decoration:none ; color: #337ab7;">About Us</a><br>
        <a href="#" style="text-decoration:none ; color: #337ab7;">Faculty</a><br>
        <a href="#" style="text-decoration:none ; color: #337ab7;">Contact Us</a><br>
    </div>
</div>
